::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-image: url("../../../public/background.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left;
    background-color: #070022;
    z-index: 1;
}

.monitors-list {
    /* height: 85vh; */
    overflow-y: auto;
}

.monitor-list-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #e0e0e00c;
}

.monitor-list-item.active {
    background-color: #19a22217;
}

.monitor-up-time-percentage {
    border-radius: 15px;
}

.monitor-up-time-percentage span {
    padding: 0 1rem;
    font-size: smaller;
}

.monitor-name-and-tags-container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    flex: 1;
}

.monitor-name {
    color: gray;
    font-size: medium;
}

.monitor-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
}

.monitor-tag {
    border-radius: 15px;
    padding: 0 0.5rem;
    color: white;
    font-size: smaller;
    margin-left: 5px;
}

.monitor-heartbeats {
    margin-left: 15px;
    display: flex;
    flex-direction: row;
}

.monitor-heartbeat {
    width: 8px;
    height: 25px;
    border-radius: 15px;
    position: relative;
    display: block;
    margin-left: 5px;
}

.view-monitor .monitor-name {
    font-size: 3rem;
    color: white;
}

.view-monitor .monitor-url {
    font-size: 1.5rem;
    color: rgb(48, 255, 29);
}

.view-monitor .monitor-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.view-monitor .monitor-buttons .card {
    flex: 1;
}

.view-monitor .monitor-buttons .card .card-body {
    display: flex;
    justify-content: flex-end;
}
.view-monitor .monitor-btn {
    margin-left: 15px;
}

.view-monitor .monitor-big-heartbeats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.view-monitor .monitor-big-heartbeats .monitor-heartbeats {
    flex: 1;
    overflow: hidden;
}

.view-monitor .monitor-big-heartbeats .monitor-heartbeats .monitor-heartbeat {
    width: 10px;
    height: 35px;
    border-radius: 10px;
    position: relative;
    display: block;
    margin-left: 6px;
}

.view-monitor .monitor-big-heartbeats .monitor-status {
    font-size: 2rem;
    color: white;
    padding: 0px 15px;
    border-radius: 15px;
}

.view-monitor .monitor-heartbeat-interval-description {
    font-size: 1rem;
    color: rgb(199, 199, 199);
    margin-left: 20px;
}

.view-monitor .monitor-counters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view-monitor .monitor-counters .title {
    font-size: 1.5rem;
    color: white;
}
.view-monitor .monitor-counters .subtitle {
    font-size: 1.2rem;
    color: rgb(201, 201, 201);
}
.view-monitor .monitor-counters .value {
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

